/* src/App.css */

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.main-content {
  min-height: calc(100vh); /* Total header and footer height */
  background-color: var(--background-color);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #0b0e3aaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #0f0738aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #000000;
}
