/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define CSS variables for the color scheme */
:root {
  --primary-color: #7297bf; /* Blue */
  --secondary-color: #ffffff; /* White */
  --background-color: #f9f9f9;
  --text-color: #000000;
  --link-color: #181d42;
  --link-hover-color: #c5c5c5;
}

/* import font fron ../fonts/Aliance Font Family/AlienceNo2-Light.woff */
@font-face {
  font-family: 'AlianceNo2-Light';
  src: url('fonts/Aliance Font Family/AlianceNo2-Light.woff') format('woff');
}

/* Apply global styles */
body {
  margin: 0;
  font-family: 'AlianceNo2-Light', sans-serif;
  background-color: var(--background-color);
  background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
  background-size: 50px 50px;
  color: var(--text-color);
  padding-right: 0 !important;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
  color: #090842;
}

body {
  margin: 0;
  padding: 0;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Optional: Style the scrollbar to look better */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}